<p-table 
    [columns]="colunas" [value]="objetos" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
    [paginator]="true" [first]="offset" [rows]="size" [totalRecords]="total" [rowsPerPageOptions]="[5, 10, 20]"
    responsiveLayout="stack" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td *ngFor="let column of columns">{{ rowData[column.field] }}</td>
    </tr>
  </ng-template>
</p-table>
