<section class="bg-transparent pb-5 pt-5 text-center text-muted" data-pg-collapsed> 
    <div class="container pb-5 pt-5 bg-transparent"> 
        <img src="../../../assets/imagens/logo-mshooter-grande.png" class="bg-opacity-75 me-4 w-25">
        <img src="../../../assets/imagens/computador-cabecalho.png" class="img-fluid mb-auto w-25">
        <div class="col-lg-9 me-auto ms-auto">
            <p class="fw-light mb-4">Aplicativo front-end do serviço de gestão de acervo de armas, munições, recarga, e resultados de treinos e competições de atiradores esportivos.</p><a href="#" class="btn btn-primary pb-2 pe-4 ps-4 pt-2">Leia Mais</a>
        </div>                 
    </div>             
</section>