<div class="container text-center">
    <div class="row align-items-center">
      <div class="col">
        <img src="../../../assets/imagens/logo-mshooter-grande.png">
      </div>
      <div class="col">
        <img src="../../../assets/imagens/computador-cabecalho.png" width="300px">
      </div>
      <div class="col">        
        Aplicativo front-end do serviço de gestão de acervo de armas, munições, 
        recarga, e resultados de treinos e competições de atiradores esportivos.
      </div>
    </div>
</div>           
